<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-translate="devices.panelTitle"></h3>
	</div>
	<div class="panel-body">
		{{'devices.panelDescription' | translate}}
		<div class="alert alert-danger" role="alert" data-translate="devices.overwriteWarning"></div>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th data-translate="devices.labels.fileName"></th>
					<th data-translate="devices.labels.description"></th>
					<th data-translate="devices.labels.model"></th>
					<th data-translate="devices.labels.vendor"></th>
					<th data-translate="devices.labels.Version"></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="display in vm.displays">
					<td>{{display.fileName}}</td>
					<td>{{display.body.hmd.device.Note}}</td>
					<td>{{display.body.hmd.device.model}}</td>
					<td>{{display.body.hmd.device.vendor}}</td>
					<td>{{display.body.hmd.device.Version}}</td>
					<td><button type="button" class="btn btn-primary" ng-click="vm.clickDisplay(display)" data-translate="devices.useDisplay"></button></td>
					<td><button type="button" class="btn btn-default" ng-click="vm.viewDisplay(display)" data-translate="{{vm.showHideDisplayLabelKey(display)}}"></button></td>
				</tr>
				<tr ng-repeat-end="" ng-if="display.showDetail">
					<td colspan="5">
						<pre>{{display.body | json}}</pre>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
