<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-translate="samples.panelTitle"></h3>
	</div>
	<div class="panel-body">
		{{'samples.panelDescription' | translate}}
		<div class="alert alert-danger" role="alert" data-translate="samples.overwriteWarning"></div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="sampleConfig in vm.sampleConfigs">
				<div class="row">
					<div class="col-md-12">
						<h3>{{sampleConfig.fileName}}</h3>
						<p class="help-block">{{sampleConfig.body.body.description}}</p>
					</div>
				</div>
				
				<div class="row" ng-show="sampleConfig.showDetail">
					<div class="col-md-12">
						<pre>{{sampleConfig.body | json}}</pre>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button type="button" class="btn btn-primary" ng-click="vm.clickSampleConfig(sampleConfig)" data-translate="samples.useSample"></button>
						<button type="button" class="btn btn-default" ng-click="vm.viewSampleConfig(sampleConfig)" data-translate="samples.viewSample"></button>
					</div>
				</div>

			</li>
		</ul>
	</div>
</div>
