<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title" data-translate="samples.panelTitle"></h3>
	</div>
	<div class="panel-body">
		{{'samples.panelDescription' | translate}}
		<div class="alert alert-danger" role="alert" data-translate="samples.overwriteWarning"></div>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat-start="sampleConfig in vm.sampleConfigs">
				<button type="button" class="btn btn-primary" ng-click="vm.clickSampleConfig(sampleConfig)" data-translate="samples.useSample"></button>
				<button type="button" class="btn btn-default" ng-click="vm.viewSampleConfig(sampleConfig)" data-translate="samples.viewSample"></button>
				{{sampleConfig.FileName}}
			</li>
			<li class="list-group-item" ng-repeat-end="" ng-show="sampleConfig.showDetail">
				<pre>{{sampleConfig.detailJson | json}}</pre>
			</li>
		</ul>
	</div>
</div>
